@model Colegio.Dtos.MatriculaMateriaDto

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Matricula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MateriaId" class="control-label"></label>
                <select asp-for="MateriaId" class="form-control" asp-items="ViewBag.MateriaId"></select>
            </div>
            <div class="auto" id="auto" style="display: none">
                <div class="form-group">
                    <label asp-for="AlumnoId" class="control-label"></label>
                    <select asp-for="AlumnoId" class="form-control" asp-items="ViewBag.AlumnoId"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    @Html.ActionLink("Regresar",
     "Index",
     "MatriculaMaterias",
     new { EstudianteId = @ViewData["vwEstudianteId"] })
</div>

